[Unit]
Description=Discord Purger Chat
After=network.target

[Service]
User=root
WorkingDirectory=/usr/local/src/apps/discord-purger-chat/bin
ExecStart=/usr/local/src/apps/discord-purger-chat/bin/app
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/usr/local/src/apps/discord-purger-chat/.env

[Install]
WantedBy=multi-user.target